html {
  text-align: center;
  background-color: rgba(167, 240, 217, 0.79);
}
#example {
  text-align: center;
}

.main-bg {
  text-align: center;
  margin-top: 10%;
}
p {
  margin: 0;
  padding: 0;
}
img {
  width: 350px;
  height: 350px;
  border-radius: 5px;
}
main {
  font-size: 20px;
  width: 350px;
  height: 50px;
  position: absolute;
  left: 16px;
  top: 350px;
  color: rgb(168, 209, 221);
  background-color:#ecf0f1;
}
#btn-sec {
  margin: 10%;
}
#sry-btn {
  margin: 0 10px;
  width: 100px;
  height: 100px;
  border-radius: 80px;
  background-color: #1abc9c;
  border-style: none;

}
#tnx-btn {
  margin: 0 10px;
  width: 100px;
  height: 100px;
  border-radius: 80px;
  background-color: #F47983;
  border-style: none;
}
.back-img {
  position: absolute;
  left: 13px;
  margin: auto;
}


.front-img {
  position: relative;
  text-align: center;
  top: -20px;
}
@keyframes left {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            opacity: 1;
    }
  100% {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
            opacity: 0;} }
.shift-left {
  transform-origin: left bottom;
  animation: left 1.0s linear;
}

@keyframes right {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            opacity: 1;
    }
  100% {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
            opacity: 0;} }
.shift-right {
  transform-origin: right bottom;
  animation: right 1.0s linear;
}
.upper-txt {
  width: 330px;
  background-color: rgba(152, 147, 140, 0.68);
  
}
.main-detail {

}
.massage {

}
.more-detail {

}
.card-contents {
  padding-left: 20px;
  text-align: left;
  position: relative;
  top: -54px;
  right: -5px;
  width: 330px;
  /*height: 20px;*/
  /*background-color: rgba(152, 147, 140, 0.68);*/
}
.backcard-contents {
  padding-left: 20px;
  text-align: left;
  position: relative;
  top: 300px;
  right: -5px;
  width: 330px;
  height: 20px;
  background-color: rgba(152, 147, 140, 0.68);
}
